/* 主题色：#f27e13 */
body {
    background: #f0f0f0;
    color: #000;
    font-size: 14px;
}
a { -webkit-tap-highlight-color: transparent; /* 去掉点击时候的阴影 */}
a,a:hover,a:link,a:active,a:visited{ text-decoration:none; color: #000;}
/*
    轮播图样式
*/
.swiper-container {
    height: 150px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img{
    height: 150px;
    width: 100%;
}

/*
    热点物品分类
*/
#classify {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    width: 100%;
    height: 70px;
    padding-top: 10px;
    background: #fff;
}
#classify li:nth-of-type(1) {
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: url("../img/icon2.png");
    background-size: 100% 100%;
    /*background: #f27e13;*/
}
#classify li:nth-of-type(2) {
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: url("../img/icon3.png");
    background-size: 100% 100%;
    /*background: #f27e13;*/
}
#classify li:nth-of-type(3) {
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: url("../img/icon4.png");
    background-size: 100% 100%;
    /*background: #f27e13;*/
}
#classify li:nth-of-type(4) {
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: url("../img/icon5.png");
    background-size: 100% 100%;
    /*background: #f27e13;*/
}
#classify li a {
    display: inline-block;
    position: absolute;
    top: 45px;
    left: 15px;
}
#classify li a span {
    display: inline-block;
    position: absolute;
    left: -10px;
    width: 40px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

/* tab页固定顶部 */
.floating {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    background: #e9f2e2;
}

@media screen and (max-width: 500px) {
    /*
        信息流：物品展示
    */

    #show-info {
        width: 375px;
        margin-top: 10px;
        /*margin: 0 auto;*/
        /*outline: 1px solid #ccc;*/
    }
    #show-info #tabs {
        width: 414px;
        background: #fff;
    }
    #show-info #tabs li {
        display: inline-block;
        width: 195px;
        height: 35px;
        margin-left: 5px;
        text-align: center;
        line-height: 35px;
        font-size: 16px;
        border-bottom: 1px solid #d2dacc;
    }
    #show-info #tabs .selected {
        border-bottom: 1px solid #f27e13;
        color: #f27e13;
    }

    #show-info .panel {
        /*outline: 1px solid #ccc;*/
        width: 414px;
    }
    #show-info .panel .list li {
        height: 195px;
        background: #fff;
        border-radius: 5px;
        box-sizing: border-box;
        padding: 5px;
        margin-bottom: 10px;
        /*box-shadow:2px 2px 5px #808080;*/
        /*border-bottom: 1px dashed #f27e13;*/
    }
    #show-info .panel .list li:nth-of-type(1) {
        margin-top: 10px;
    }
    #show-info .panel #user-info {
        width: 355px;
        margin-left: 10px;
    }
    #show-info .panel #user-info img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        float: left;
        margin-right: 10px;
    }
    #show-info .panel #user-info div {
        float: left;
        width: 285px;
        height: 50px;
    }
    #show-info .panel #user-info div span:nth-of-type(1) {
        display: inline-block;
        width: 280px;
        font-size: 14px;
        margin-bottom: 10px;
    }
    #show-info .panel #user-info div .near-distance {
        position: relative;
        padding-left: 20px;
        margin-right: 5px;
    }
    #show-info .panel #user-info div .near-distance:after {
        content: url("../img/icon.png");
        width: 16px;
        height: 16px;
        position: absolute;
        top: 2px;
        left: 0;
    }
    #show-info .panel #user-info div .recommend-distance {
        position: relative;
        padding-left: 20px;
        margin-right: 5px;
    }
    #show-info .panel #user-info div .recommend-distance:after {
        content: url("../img/icon6.png");
        width: 16px;
        height: 16px;
        position: absolute;
        top: 2px;
        left: 0;
    }
    #show-info .panel #user-info div .near-duration {
        position: relative;
        padding-left: 20px;
        margin-left: 5px;
    }
    #show-info .panel #user-info div .near-duration:after {
        content: url("../img/icon1.png");
        width: 16px;
        height: 16px;
        position: absolute;
        top: 2px;
        left: 2px;
    }
    #show-info .panel #user-info div .recommend-duration {
        position: relative;
        padding-left: 20px;
        margin-left: 5px;
    }
    #show-info .panel #user-info div .recommend-duration:after {
        content: url("../img/icon7.png");
        width: 16px;
        height: 16px;
        position: absolute;
        top: 2px;
        left: 2px;
    }
    #show-info .panel #goods-describe {
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        margin-left: 5px;
    }
    #show-info .panel #goods-show {
        margin-top: 10px;
    }
    #show-info .panel #goods-show img {
        width: 100px;
        height: 100px;
        margin-left: 20px;
    }
}
@media screen and (max-width: 375px) {
    /*
        信息流：物品展示
    */

    #show-info {
        width: 375px;
        margin-top: 10px;
        /*margin: 0 auto;*/
        /*outline: 1px solid #ccc;*/
    }
    #show-info #tabs {
        width: 375px;
        background: #fff;
    }
    #show-info #tabs li {
        display: inline-block;
        width: 175px;
        height: 35px;
        margin-left: 5px;
        text-align: center;
        line-height: 35px;
        font-size: 16px;
        border-bottom: 1px solid #d2dacc;
    }
    #show-info #tabs .selected {
        border-bottom: 1px solid #f27e13;
        color: #f27e13;
    }

    #show-info .panel {
        /*outline: 1px solid #ccc;*/
        width: 375px;
    }
    #show-info .panel .list li {
        height: 195px;
        background: #fff;
        border-radius: 5px;
        box-sizing: border-box;
        padding: 5px;
        margin-bottom: 10px;
        /*box-shadow:2px 2px 5px #808080;*/
        /*border-bottom: 1px dashed #f27e13;*/
    }
    #show-info .panel .list li:nth-of-type(1) {
        margin-top: 10px;
    }
    #show-info .panel #user-info {
        width: 355px;
        margin-left: 10px;
    }
    #show-info .panel #user-info img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        float: left;
        margin-right: 10px;
    }
    #show-info .panel #user-info div {
        float: left;
        width: 285px;
        height: 50px;
    }
    #show-info .panel #user-info div span:nth-of-type(1) {
        display: inline-block;
        width: 280px;
        font-size: 14px;
        margin-bottom: 10px;
    }
    #show-info .panel #user-info div .near-distance {
        position: relative;
        padding-left: 20px;
        margin-right: 5px;
    }
    #show-info .panel #user-info div .near-distance:after {
        content: url("../img/icon.png");
        width: 16px;
        height: 16px;
        position: absolute;
        top: 2px;
        left: 0;
    }
    #show-info .panel #user-info div .duration {
        position: relative;
        padding-left: 20px;
    }
    #show-info .panel #user-info div .duration:after {
        content: url("../img/icon1.png");
        width: 16px;
        height: 16px;
        position: absolute;
        top: 2px;
        left: 2px;
    }
    #show-info .panel #goods-describe {
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        margin-left: 5px;
    }
    #show-info .panel #goods-show {
        margin-top: 10px;
    }
    #show-info .panel #goods-show img {
        width: 100px;
        height: 100px;
        margin-left: 15px;
    }
}
@media screen and (max-width: 320px) {
    /*
        信息流：物品展示
    */
    #show-info {
        width: 320px;
        margin-top: 10px;
        /*margin: 0 auto;*/
        /*outline: 1px solid #ccc;*/
    }
    #show-info #tabs {
        width: 320px;
        background: #fff;
    }
    #show-info #tabs li {
        display: inline-block;
        width: 147px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        font-size: 16px;
        border-bottom: 1px solid #d2dacc;
    }
    #show-info #tabs .selected {
        border-bottom: 1px solid #f27e13;
        color: #f27e13;
    }

    #show-info .panel {
        /*outline: 1px solid #ccc;*/
        width: 320px;
    }
    #show-info .panel .list li {
        height: 195px;
        box-sizing: border-box;
        padding: 5px;
        margin-bottom: 10px;
        /*box-shadow:2px 2px 5px #808080;*/
        /*border-bottom: 1px dashed #f27e13;*/
    }
    #show-info .panel .list li:nth-of-type(1) {
        margin-top: 10px;
    }
    #show-info .panel #user-info {
        width: 300px;
        height: 50px;
        margin-left: 10px;
    }
    #show-info .panel #user-info img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        float: left;
        margin-right: 10px;
    }
    #show-info .panel #user-info div {
        float: left;
        width: 230px;
        height: 50px;
    }
    #show-info .panel #user-info div span:nth-of-type(1) {
        display: inline-block;
        width: 230px;
        font-size: 14px;
        margin-bottom: 10px;
    }
    #show-info .panel #goods-describe {
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        margin-left: 5px;
    }
    #show-info .panel #goods-show {
        margin-top: 10px;
    }
    #show-info .panel #goods-show img {
        width: 90px;
        height: 90px;
        margin-left: 10px;
    }
}
